.services{
    padding: 50px 0;
}
.services .title::after{
    content: "what I do";
}
.services .services-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.services .services-content .card{
    width: calc(33% - 70px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    /* //cursor: pointer; */
    transition: all 0.3s ease;
}
.services .services-content .card:hover{
    background: crimson;
}
.services .services-content .card .box{
    transition: all 0.3s ease;
}
.services .services-content .card:hover .box{
    transform: scale(1.05);
}
.services .services-content .card i{
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease;
}
.services .services-content .card:hover i{
    color: white;
}
.services .services-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}